*{
    margin: 0 auto;
    padding: 0 auto;
    box-sizing: border-box;
}

.image-container {
  position: relative;
}

.main-img {
  width: 100%;
}

.overlay-img {
  position: absolute;
  top: 50%;
  right: 50px;     
  transform: translateY(-50%);
  width: 600px;
  
}

.overlay-text {
  position: absolute;
  top: 30%;
  left: 60px;
  color: white;

}

.blog{
  position:relative;
}





.content {
  max-width: 700px;
  margin-left: auto;      
  margin-top: -180px;    
  position: relative;
  z-index: 2;
}


.scnd-last{
  background-color: blueviolet;
}

/* Media queries */


@media (max-width: 768px) {
  .content {
    margin-top: 20px;     
    margin-left: 0;
  }
}


  .bg-white{
    border: #000;
  }


@media (max-width: 992px) {
  .overlay-img {
    width: 400px;
    right: 20px;
  }

  .overlay-text {
    top: 20%;
    left: 30px;
  }
}

@media (max-width: 768px) {
  .overlay-img {
    position: static;  
    transform: none;
    width: 100%;
    margin-top: 20px;
  }

  .overlay-text {
    position: static;
    color: #000;       
    padding: 15px;
  }

  .image-container {
    display: flex;
    flex-direction: column;}

    
  .content {
    margin-top: 20px;    
    margin-left: 0;
  }
}

@media (max-width: 576px) {
  .text2 {
    font-size: 18px;
  }

  .text3 {
    font-size: 14px;
  }
}


@media (max-width: 768px) {
  .image-container {
    display: flex;
    flex-direction: column;
  }

  .overlay-text {
    order: 1;   
  }

  .overlay-img {
    order: 2;   
    width: 100%;
    margin-top: 15px;
  }

  .main-img {
    order: 0;   
  }
}
